<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp_Zoo_Manger.Properties.Settings.FikayoDBConnectionString"
            connectionString="Data Source=FAKS\FIKAYOMYSQL;Initial Catalog=FikayoDB;Persist Security Info=True;User ID=sa;Password=Fik@yo8243!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>